.wrapper {
    width: 500px;
    height: 500px;
    background-color: #ddd;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown {
    background-color: #fff;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #bbb;
    position: relative;
    margin: auto;
}

.dropdown-value {
    padding: 10px 8px;
    display: block;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.dropdown-value i {
    position: relative;
    top: 2px;
}

.dropdown-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    background-color: #fff;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    display: none;
}

.dropdown-item {
    padding: 10px 8px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #019160;
    color: #fff;
}

.icon-down {
    /* display: none; */
}

.icon-up {
    display: none;
}

#dropdown-input:checked~.dropdown-list {
    display: block;
}

#dropdown-input:checked~.dropdown-value .icon-down {
    display: none;
}

#dropdown-input:checked~.dropdown-value .icon-up {
    display: block;
}


/* ghi de */

.icon-down,
.icon-up,
.dropdown-list {
    display: none;
}

.icon-down.show,
.icon-up.show,
.dropdown-list.show {
    display: block;
}

.dropdown-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}